.box {
    display: flex;
    justify-content: space-between;
    width: 100%;

    app-search {
        width: 60%;
    }
}

.followBox {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

a:hover {
    cursor: pointer;
}