form {
    display: inline;
}

button {
    width: fit-content;
    margin-left: 2%;
}

.box {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

select {
    width: fit-content;
    margin-left: 2%;
}